@import '../mixins.scss';

section {
    @include dFlex($jc: flex-start);
    width: 300px;
    background-color: goldenrod;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span {
        font-size: 32px;
        margin-left: 16px;
        color: white;
    }
}

img {
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
}

.player-active {
    background-color: rgba(100, 100, 100, 0.7) !important;
}