@import '../mixins.scss';

section {
    background-image: url('../../assets/img/start.jpg');
    @include standardSection;
    @include dFlex;
    div {
        height: 50%;
        @include dFlex($fd: column, $jc: space-between)
    }
}

button {
    cursor: pointer;
    height: auto;
    width: 20vw;
    font-size: 48px;
    background-color: goldenrod;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    &:hover {
        background-color: gold;
    }
}