@import '../mixins.scss';

section {
    background-image: url('../../assets/img/start.jpg');
    @include standardSection;
    @include dFlex;
    div {
        height: 50%;
        @include dFlex($fd: column, $jc: space-between)
    }
}

button {
    height: auto;
    width: 20vw;
    font-size: 48px;
}