<section>
  <div>
    @for (card of [0,1,2,3,4]; track card) {
    <img
      [ngStyle]="{ 'right.px': card * 5 }"
      src="/assets/img/cards/card_cover.png"
      alt=""
    />
    }
    <img
      (click)="takeCard()"
      [class.pick-card]="pickCardAnimation"
      class="top-card"
      style="right: 25px"
      src="/assets/img/cards/card_cover.png"
      alt=""
    />
    @if (pickCardAnimation) {
    <img
      (click)="takeCard()"
      [class.pick-card]="pickCardAnimation"
      class="top-card"
      style="right: 25px"
      src="/assets/img/cards/ace_1.png"
      alt=""
    />
    }
  </div>
</section>
