<app-player style="top: 100px" class="player-position"></app-player>

<section>
  <div>
    @for (card of [0,1,2,3,4]; track card) {
    <img
      [ngStyle]="{ 'right.px': card * 5 }"
      src="/assets/img/cards/card_cover.png"
      alt=""
    />
    }
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="/assets/img/cards/card_cover.png"
      alt=""
    />
    @for (card of game.playedCards; track card) {
    <img class="played-card" src="/assets/img/cards/{{ card }}.png" alt="" />
    } @if (pickCardAnimation) {
    <img
      (click)="takeCard()"
      class="pick-card"
      style="right: 25px"
      src="/assets/img/cards/{{ currentCard }}.png"
      alt=""
    />
    }
  </div>
</section>
