@mixin dFlex($fd: row, $jc:center, $ai:center, $g:0) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin standardSection($w: 100vw, $h: 100vh, $mw: 100%) {
    width: $w;
    height: $h;
    max-Width: $mw;
}